body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url(../images/skulls.png) fixed;
  margin: 0 auto;

}

header{
  position: relative;
  width: 100%;
  height: 60vh;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url(../images/splash.jpg) fixed bottom;
  background-size: cover;
  text-align: center;
}

h1 {
  font-family: 'Dancing Script', Helvetica, sans-serif;
  font-size: 7em;
  font-weight: bold;
  color: transparent;
 background: url(../images/splash.jpg) fixed bottom;
 -webkit-background-clip: text;
 background-size: cover;
  margin: 0 auto;

}

h2 {
  font: 3.5em;
  color: rgba(0, 0, 0, 0.8), #333;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

.about figure {
  text-align: center;
}

.about figure img {
  width: 35%;
  min-width: 300px;
}

.about figcaption {
  font: italic 0.8em Helvetica, sans-serif;
}

nav {
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

nav ul{
  display: inline-block;
  padding: 0;
  margin: 0 auto;

}

nav ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  width: auto;
  padding: 5px;
}

footer {
  height: 40px;
  padding-top: 10px;
  text-align: center;
}

.header-text {
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 25%;
  left: 0;
  text-align: center;
  margin: 0 auto
}

.flavor-select, .loc-select {
  display: none;
}

.flavor-list {

}

.flavor-1, .flavor-3 {
  float: left;
}

.flavor-2, .flavor-4 {
  float: right;
}

.flavor-1 img, .flavor-3 img {
  float: left;
  border-radius: 0 50% 50% 0;
  margin: 0 2rem 0 0
}

.flavor-2 img, .flavor-4 img {
  float: right;
  border-radius: 50% 0 0 50%;
  margin: 0 0 0 2rem;
}

.scoop {
  clear: both;
}

.scoop img {
  max-width: 300px;
  shape-outside: circle(50%);
}

.scoop p, .scoop h3 {
  /*display: inline-block;*/
}

.about {
  width: 100%;
  background-color: #7F3F79;
  background-color: rgba(127, 63, 121, 0.4);
  clear: both;
}
